<!DOCTYPE html>
<html ng-app="WeatherApp">
  <head>
    <meta charset="utf-8">
    <title>Weather app</title>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="WeatherCtrl as weather">
    <div class="row card-container">
      <div class="col-md-4 col-md-offset-4">
        <div class="row">
          <div class="col-md-12">
              <h3>Enter the city and its code in the form below then scroll to check the forecast.</h3>
                <form id="addNewCity" ng-submit="weather.addNewCity()">
                  <input type="cityText" ng-model="weather.addCity" placeholder="city ie london">
                  <input type="codeText" ng-model="weather.addCode" placeholder="code ie gb/us">
                  <input type="submit" value="Add">
                </form>
              <h2> {{ weather.city }}</h2>
              <div class="row">
                <div class="col-md-12" ng-repeat="weather in weather.all">
                  <div class = "card day animated-item" ng-repeat="description in weather.weather">
                    <h1>{{ description.description }}</h1> <hr> <h1>{{weather.dt_txt}}</h1>
                    <!-- //<h1>{{weather.main.temp}}degrees</h1> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>







  </body>
</html>
