h1 {
  font-family: 'Bowlby One', cursive;
  color: white;
  font-size: 50px;
}

h2 {
  font-family: 'Bowlby One', cursive;
  color: #666666;
  font-size: 40px;
}

h3
 {
   font-family: 'Lato', sans-serif;
   color: #666666;
   font-size: 25px;
 }


body {
  margin-top: 50px;
  background: white;;
}

//-------------------------- CARD DEISGN --------------------//

.card-container {
  div {
    div {
      overflow-y: scroll;
      height: 550px;
      //background-color: yellow;
      text-align: center;
      .card {
        transition: all linear 0.5s;
        border-radius: 10px;
        margin: 20px;
        height: 370px;
        padding: 15px;
        -webkit-animation: background 45s cubic-bezier(1,0,0,1) infinite;
        animation: background 45s cubic-bezier(1,0,0,1) infinite;
        }
      }
    }
  }

  @-webkit-keyframes background {
    0% { background-color: #E2601C; }
    8% { background-color: #E47421; }
    12% { background-color: #E17C2D; }
    16% { background-color: #D27F40; }
    20% { background-color: #BE7442; }
    24% { background-color: #AB6D54; }
    28% { background-color: #AA6C53; }
    32% { background-color: #755D67; }
    36% { background-color: #635870; }
    38% { background-color: #4D4E6E; }
    42% { background-color: #3A4467; }
    45% { background-color: #263960; }
    49% { background-color: #1E305E; }
    53% { background-color: #142A59; }
    57% { background-color: #08204F; }
    61% { background-color: #142A59; }
    65% { background-color: #1E305E; }
    67% { background-color: #263960; }
    71% { background-color: #3A4467; }
    75% { background-color: #4D4E6E; }
    79% { background-color: #635870; }
    83% { background-color: #755D67; }
    87% { background-color: #AA6C53; }
    91% { background-color: #AB6D54; }
    93% { background-color: #BE7442; }
    95% { background-color: #D27F40; }
    97% { background-color: #E17C2D; }
    98% { background-color: #E47421; }
    100% { background-color: #E2601C; }
  }

  @keyframes background {
    0% { background-color: #E2601C; }
    8% { background-color: #E47421; }
    12% { background-color: #E17C2D; }
    16% { background-color: #D27F40; }
    20% { background-color: #BE7442; }
    24% { background-color: #AB6D54; }
    28% { background-color: #AA6C53; }
    32% { background-color: #755D67; }
    36% { background-color: #635870; }
    38% { background-color: #4D4E6E; }
    42% { background-color: #3A4467; }
    45% { background-color: #263960; }
    49% { background-color: #1E305E; }
    53% { background-color: #142A59; }
    57% { background-color: #08204F; }
    61% { background-color: #142A59; }
    65% { background-color: #1E305E; }
    67% { background-color: #263960; }
    71% { background-color: #3A4467; }
    75% { background-color: #4D4E6E; }
    79% { background-color: #635870; }
    83% { background-color: #755D67; }
    87% { background-color: #AA6C53; }
    91% { background-color: #AB6D54; }
    93% { background-color: #BE7442; }
    95% { background-color: #D27F40; }
    97% { background-color: #E17C2D; }
    98% { background-color: #E47421; }
    100% { background-color: #E2601C; }
  }

// --------------------- FORM DESIGN ------------------ //

input {
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

input:hover {
  border: 6px solid #f4f4f4;
  background-color: white;
}


// ------------------------- media query --------------------- //

/* ----------- iPhone  ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .card-container {
    margin-top: 90px;
    transform: translateY(350px);
    div {
      div {
        height: 700px;
        .card {
          text-align: center;
          margin: 10, 60px;
          border-radius: 20px;
            h1 {
              font-size: 70px;
              padding: 15px;
            }
          }
        }
      }
    }
}



@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .card-container {
    margin-top: 90px;
    transform: translateY(220px);
    div {
      div {
        height: 700px;
        .card {
          text-align: center;
          margin: 10, 60px;
          border-radius: 20px;
            h1 {
              font-size: 70px;
              padding: 15px;
            }
          }
        }
      }
    }
}
